@import 'variables/variables';


.expenses-button .MuiButtonBase-root.MuiButton-root {
    width: 20%;
    background-color: $primaryColor;
    font-weight: bold;
    border-radius: 10px;
}

.loader .lds {
    top: 60%;
    left: 60%;
}