@import 'variables/variables';


.income-button .MuiButtonBase-root.MuiButton-root {
    width: 20%;
    background-color: $primaryColor;
    font-weight: bold;
    border-radius: 10px;
}

.add-income-button.MuiButtonBase-root.MuiButton-root {
    width: 25%;
    background-color: $primaryColor;
    font-weight: bold;
}