@import 'variables/variables';

.category-div {
    width: 35px;
    height: 35px;
    background: $backgroundColor;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    & svg {
        width: 15px;
        height: 15px;
    }
}

.close-button.MuiButtonBase-root.MuiButton-root {
    width: 20%;
    background-color: $grayColor;
    font-weight: bold;
}

.add-expense-button.MuiButtonBase-root.MuiButton-root {
    width: 25%;
    background-color: $primaryColor;
    font-weight: bold;
}

#alert-dialog-title {
    display: flex;
    justify-content: center;
    font-weight: bold;
}