@import 'variables/variables';

.rounded-div {
    width: 60px;
    height: 60px;
    background: $backgroundColor;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    & svg {
        width: 30px;
        height: 30px;
    }

    &:hover {
        box-shadow: 0 4px 15px rgba(5, 5, 6, .1);
        transform: scale(1.1);
        transition: all .3s ease-in-out;
    }
}