@import 'variables/variables';


.rounded-div {
    width: 60px;
    height: 60px;
    background: $backgroundColor;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    & svg {
        width: 30px;
        height: 30px;
    }
}